.addition__gift {
  margin-bottom: 40px;
  margin-top: 40px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  min-height: 289px;
  background: url("../img/icon-gift.svg") center 58px no-repeat,
    url("../img/gift-photo-mobile@1x.jpg") center center no-repeat;
  background-size: 78px 80px, cover;
}

.addition__card-title {
  font: normal 16px/16px @oswald;
  color: @special_dark-grey-2;
  text-transform: uppercase;
}

.addition__card-description {
  font: normal 14px/14px @arial;
  color: @special_dark-grey;
  display: flex;
  justify-content: space-between;
}

.addition__gift-txt {
  color: white;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 45px;
}

@media (min-width: @tablet) {
  .addition__cards {
    border: 1px solid @special_grey;
    border-top: none;
    border-bottom: none;
  }

  .addition__card {
    border-bottom: 1px solid @special_grey;
    padding-left: 37px;
    padding-right: 37px;

    &:first-child {
      border-top: 1px solid @special_grey;
    }
  }

  .addition__card-title {
    font-size: 20px;
    line-height: 20px;
  }

  .addition__card-description {
    font-size: 16px;
    line-height: 20px;
  }

  .addition__card-btn {
    width: 100%;
  }

  .addition__gift {
    margin-top: 70px;
    margin-bottom: 75px;
    min-height: 200px;
    justify-content: center;
    background: url("../img/icon-gift.svg") 90px center  no-repeat,
      url("../img/gift-photo-tablet@1x.jpg") center center no-repeat;
    background-size: 58px 62px, cover;
  }

  .addition__gift-txt {
    padding: 0;
    padding-left: 150px;
  }
}

@media (min-width: @desktop) {
  .addition__cards {
    border: none;
  }

  .addition__gift {
    height: 290px;
    width: 245px;
    flex-direction: column-reverse;
    justify-content: flex-start;
    background: url("../img/icon-gift.svg") center 60px no-repeat,
      url("../img/gift-photo-desktop@1x.jpg") center center no-repeat;
    background-size: 80px 82px, cover;
  }

  .addition__gift-txt {
    padding: 0;
    padding-bottom: 40px;
  }
}
