.addition__gift{
  display: flex;
  flex-direction: column-reverse;
  min-height: 289px;
  background:url('../../img/icon-gift.svg') center 58px no-repeat,
              url('../../img/gift-photo-mobile@1x.jpg') center center no-repeat;
   background-size: 78px 80px, cover;
}

@media (min-width: @tablet){
  .addition__gift{
    flex-direction:row-reverse;
    background:url('../../img/icon-gift.svg') 90px center  no-repeat,
              url('../../img/gift-photo-tablet@1x.jpg') center center no-repeat;
    background-size: 58px 62px, cover;
  }
}


@media (min-width: @desktop){
  .addition__gift{
    flex-direction: column-reverse;
    background:url('../../img/icon-gift.svg') center 60px no-repeat,
              url('../../img/gift-photo-desktop@1x.jpg') center center no-repeat;
    background-size: 80px 82px, cover;
  }
}
