.before-after {
  background: #eaeaea;
}
//
// .before-after__wrapper {
//   padding: 20px 0;
// }

.before-after__header {
  margin: 0;
  padding-top: 27px;
  padding-bottom: 33px;
}

.before-after__txt {
  margin: 0;
  padding-bottom: 25px;
}

.before-after__metrica {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 40px;
}

.before-after__metrica-item {
  height: 64px;
  width: 124px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  position: relative;

  border: 1px solid @special_grey;
  border-radius: 2px;
}

.before-after__metrica-txt {
  display: block;
  position: absolute;
  bottom: -25px;

  width: 60px;
  padding: 0 15px;

  text-transform: lowercase;
  text-align: center;
  font: 12px/12px @arial;
  background: #eaeaea;
}

.before-after__metrica-digit {
  font: 24px/24px @oswald;
  text-transform: uppercase;
}

.before-after__metrica-price {
  width: 100%;
  padding-top: 34px;

  font: 14px/20px @oswald;
  text-transform: uppercase;
  text-align: center;
}

.before-after__slider-list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

//slider

.before-after__slider {
  width: 100%;
  padding-bottom: 25px;

  input {
    display: none;
  }
}

.before-after__slider-slide {
  display: none;
  justify-content: center;
}

.before-after__input:nth-child(1):checked ~ .before-after__slider-list .before-after__slider-slide:nth-child(1) {
  display: flex;
}

.before-after__input:nth-child(2):checked ~ .before-after__slider-list .before-after__slider-slide:nth-child(2) {
  display: flex;
}

.before-after__toggles {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.before-after__toggles-btn {
  border: none;

  font: normal 16px/20px  @oswald;
  text-transform: uppercase;
  color: black;

  background-repeat: no-repeat;

  &:first-child {
    padding-right: 60px;
    background-position: right center;
    background-image: url("../img/toggle-l-unchecked-mobile.png");
  }

  &:last-child {
    padding-left: 60px;
    background-position: left center;
    background-image: url("../img/toggle-r-unchecked-mobile.png");
  }
}

.before-after__input:nth-child(1):checked ~ .before-after__toggles label[for="btn-1"] {
  background-image: url("../img/toggle-l-checked-mobile.png");
}

.before-after__input:nth-child(2):checked ~ .before-after__toggles label[for="btn-2"] {
  background-image: url("../img/toggle-r-checked-mobile.png");
}

@media (min-width: @tablet) {
  .before-after {
    background: linear-gradient(0deg, @basic_grey 50%, transparent 50%);
  }

  // .before-after__wrapper {
  //   padding: 30px 0;
  // }
  .before-after__header {
    padding-top: 43px;
    padding-bottom: 63px;
  }

  .before-after__txt {
    padding-bottom: 54px;
  }

  .before-after__metrica {
    padding-bottom: 60px;
  }

  .before-after__metrica-item {
    width: 162px;
    height: 77px;

    font-size: 30px;
    line-height: 37px;
  }

  .before-after__metrica-digit {
    font-size: 30px;
    line-height: 37px;
  }

  .before-after__metrica-txt {
    width: auto;
    padding: 0 10px;

    bottom: -20px;

    font-size: 14px;
    line-height: 14px;

    background: white;
  }

  .before-after__metrica-price {
    width: 300px;
    padding-top: 0;
    padding-left: 110px;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    font-size: 20px;
    line-height: 20px;
    text-align: right;
  }

  .before-after__slider {
    padding-bottom: 65px;
  }

  .before-after__toggles-btn {
    font-size: 20px;
    line-height: 40px;

    &:first-child {
      padding-right: 237px;
      background-position: right center;
      background-image: url("../img/toggle-l-unchecked-tablet.png");
    }

    &:last-child {
      padding-left: 237px;
      background-position: left center;
      background-image: url("../img/toggle-r-unchecked-tablet.png");
    }
  }

  .before-after__input:nth-child(1):checked ~ .before-after__toggles label[for="btn-1"] {
    background-image: url("../img/toggle-l-checked-tablet.png");
  }

  .before-after__input:nth-child(2):checked ~ .before-after__toggles label[for="btn-2"] {
    background-image: url("../img/toggle-r-checked-tablet.png");
  }
}

@media (min-width: @desktop) {
  .before-after {
    background: linear-gradient(0deg, @basic_grey 462px, transparent 462px);
    min-height: 656px;
  }

  // .before-after__wrapper {
  //   padding: 110px 0;
  // }
  .before-after__header {
    padding-top: 70px;
    padding-bottom: 145px;
  }

  .before-after__txt {
    padding-bottom: 70px;
    width: 436px;
  }

  .before-after__top {
    display: flex;
  }

  .before-after__metrica {
    width: 370px;
    padding-bottom: 0;
  }

  .before-after__metrica-txt {
    background: @basic_grey;
  }

  .before-after__metrica-price {
    padding: 0;
    padding-top: 55px;
    width: 330px;
    justify-content: space-between;
  }

  .before-after__slider {
    box-sizing: border-box;
    padding-bottom: 65px;
    height: 656px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
  }
}
