.before-after {
  background: #eaeaea;
}
//
// .before-after__wrapper {
//   padding: 20px 0;
// }

.before-after__header {
  margin: 0;
  padding-top: 27px;
  padding-bottom: 33px;
}

.before-after__txt {
  margin: 0;
  padding-bottom: 25px;
}

.before-after__metrica {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.before-after__metrica-item {
  height: 64px;
  width: 124px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  position: relative;

  border: 1px solid @special_grey;
  border-radius: 2px;
}

.before-after__metrica-txt {
  display: block;
  position: absolute;
  bottom: -25px;

  width: 60px;
  padding: 0 15px;

  text-transform: lowercase;
  text-align: center;
  font: 12px/12px @arial;
  background: #eaeaea;
}

.before-after__metrica-digit {
  font: 24px/24px @oswald;
  text-transform: uppercase;
}

.before-after__metrica-price {
  width: 100%;
  padding-top: 34px;

  font: 14px/20px @oswald;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: @tablet) {
  .before-after {
    background: linear-gradient(180deg, transparent 50%, @special_grey 50%);
  }

  // .before-after__wrapper {
  //   padding: 30px 0;
  // }
  .before-after__header {
    padding-top: 43px;
    padding-bottom: 63px;
  }

  .before-after__txt {
    padding-bottom: 54px;
  }

  .before-after__metrica-item {
    width: 162px;
    height: 77px;

    font-size: 30px;
    line-height: 37px;
  }

  .before-after__metrica-digit {
    font-size: 30px;
    line-height: 37px;
  }

  .before-after__metrica-txt {
    width: auto;
    padding: 0 10px;

    bottom: -20px;

    font-size: 14px;
    line-height: 14px;

    background: white;
  }

  .before-after__metrica-price {
    width: 300px;
    padding-top: 0;
    padding-left: 110px;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    font-size: 20px;
    line-height: 20px;
    text-align: right;
  }
}

@media (min-width: @desktop) {
  .before-after {
    background: linear-gradient(180deg, transparent 50%, @special_grey 50%);
  }

  // .before-after__wrapper {
  //   padding: 110px 0;
  // }
  .before-after__header {
    padding-top: 70px;
    padding-bottom: 75px;
  }

  .before-after__metrica-price {
    padding: 0;
    justify-content: space-between;
  }
}
