.before-after {
  background: #eaeaea;
}

.before-after__header {
  margin: 0;
  padding-top: 27px;
  padding-bottom: 33px;
}

.before-after__txt {
  margin: 0;
  padding-bottom: 25px;
  width: 278px;
}

.before-after__metrica {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 35px;
}

.before-after__metrica-item {
  height: 55px;
  width: 122px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  position: relative;

  border: 1px solid @special_grey;
  border-radius: 2px;
}

.before-after__metrica-txt {
  display: block;
  position: absolute;
  bottom: -27px;

  width: 60px;
  padding: 0 15px;

  text-transform: lowercase;
  text-align: center;
  font: 12px/12px @arial;
  background: #eaeaea;
}

.before-after__metrica-digit {
  font: 24px/24px @oswald;
  text-transform: uppercase;
  color: black;
}

.before-after__metrica-price {
  width: 100%;
  padding-top: 34px;

  font: 14px/20px @oswald;
  text-transform: uppercase;
  text-align: center;
  color: black;
}

.before-after__slider-list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  width: 200%;
}

//slider

.before-after__slider {
  width: 100%;
  padding-bottom: 25px;
  overflow: hidden;

  input {
    display: none;
  }
}

.before-after__slider-slide {
  justify-content: center;

  &:last-child {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.before-after__input:nth-child(1):checked ~ .before-after__slider-list .before-after__slider-slide {
  &:first-child {
    opacity: 1;
    transition: 2s;
  }

  &:last-child {
    opacity: 0;
    transition: 1s;
  }
}

.before-after__input:nth-child(2):checked ~ .before-after__slider-list .before-after__slider-slide {
  &:first-child {
    opacity: 0;
    transition: 1s;
  }

  &:last-child {
    opacity: 1;
    transition: 2s;
  }
}

.before-after__toggles {
  height: 40px;
  padding-top: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.before-after__toggles-btn {
  border: none;

  font: normal 16px/20px  @oswald;
  text-transform: uppercase;
  color: black;

  background-repeat: no-repeat;

  &:first-child {
    background-position: 59px center;
    background-size: 84px 14px;
  }
}

.before-after__scale {
  width: 118px;
  display: flex;
  justify-content: center;
}

.before-after__scale-bar {
  box-sizing: border-box;
  width: 84px;
  height: 14px;
  border: 1px solid @special_grey;
  background-color: white;
  border-radius: 6px;
  position: relative;
}

.before-after__scale-toggle {
  background-color: @basic_green;
  border-radius: 6px;
  width: 35px;
  height: 6px;
  position: absolute;
  top: 50%;
  // left: 5px;
  margin-top: -3px;
}

@keyframes before-m {
  0% {
    left: 42px;
  }

  100% {
    left: 5px;
  }
}

@keyframes after-m {
  0% {
    left: 5px;
  }

  100% {
    left: 42px;
  }
}

.before-after__input:nth-child(1):checked ~ .before-after__toggles .before-after__scale-toggle {
  animation: before-m 1s;
  left: 5px;
}

.before-after__input:nth-child(2):checked ~ .before-after__toggles .before-after__scale-toggle {
  animation: after-m 1s;
  left: 42px;
}


@media (min-width: @tablet) {
  .before-after {
    background: linear-gradient(0deg, @basic_grey 43%, transparent 43%);
  }

  .before-after__header {
    padding-top: 43px;
    padding-bottom: 63px;

    font-size: 60px;
    line-height: 60px;
  }

  .before-after__txt {
    padding-bottom: 54px;
    width: auto;
  }

  .before-after__metrica {
    padding-bottom: 60px;
  }

  .before-after__metrica-item {
    width: 160px;
    height: 69px;

    font-size: 30px;
    line-height: 37px;
  }

  .before-after__metrica-digit {
    font-size: 30px;
    line-height: 37px;
  }

  .before-after__metrica-txt {
    width: auto;
    padding: 0 10px;

    bottom: -20px;

    font-size: 14px;
    line-height: 14px;

    background: white;
  }

  .before-after__metrica-price {
    width: 300px;
    height: 72px;
    padding-top: 0;
    padding-left: 110px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;

    font-size: 20px;
    line-height: 20px;
    text-align: right;
  }

  .before-after__slider {
    padding-bottom: 65px;
  }

  .before-after__slider-list {
    padding-top: 24px;
    padding-left: 14px;
  }

  .before-after__toggles {
    padding-top: 4px;
  }

  .before-after__toggles-btn {
    font-size: 20px;
    line-height: 40px;
    position: relative;

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 3px;
      width: 49px;
      border-bottom: 1px dashed #b8b8b8;
    }

    &:hover::after {
      border-bottom: 1px solid #919191;
    }

    &:active::after {
      display: none;
    }

    &:first-child {
      background-position: 70px center;
      background-size: 431px 34px;
    }
  }

  .before-after__scale {
    width: 472px;
  }

  .before-after__scale-bar {
    width: 428px;
    height: 6px;
    border: none;
    background-color: @special_grey;
    border-radius: 6px;
  }

  .before-after__scale-toggle {
    border-radius: 50%;
    width: 34px;
    height: 34px;
    position: absolute;
    top: 50%;
    // left: 50%;
    margin-left: -17px;
    margin-top: -17px;


    background-color: white;
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='4' cy='4' r='4' fill='%2368B738'/%3E%3C/svg%3E");
    background-size: 8px 8px;
    background-position: center center;
    background-repeat: no-repeat;
    border: 1px solid @special_grey;
    box-sizing: border-box;
    filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.16));

    &:hover {
      filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.19));
    }

    &:active {
      border-color: @basic_green;
      filter: drop-shadow(0 3px 5px rgba(0, 0, 0, 0.2));
    }
  }

  @keyframes before {
    0% {
      left: 97%;
    }

    100% {
      left: 3%;
    }
  }

  @keyframes after {
    0% {
      left: 3%;
    }

    100% {
      left: 97%;
    }
  }

  .before-after__input:nth-child(1):checked ~ .before-after__toggles .before-after__scale-toggle {
    animation: before 1s;
    left: 3%;
  }

  .before-after__input:nth-child(2):checked ~ .before-after__toggles .before-after__scale-toggle {
    animation: after 1s;
    left: 97%;
  }
}

@media (min-width: @desktop) {
  .before-after {
    background: linear-gradient(0deg, @basic_grey 462px, transparent 462px);
    min-height: 656px;
  }

  .before-after__header {
    padding-top: 70px;
    padding-bottom: 145px;
  }

  .before-after__txt {
    padding-bottom: 70px;
    width: 436px;
  }

  .before-after__top {
    display: flex;
  }

  .before-after__metrica {
    width: 370px;
    padding-bottom: 0;
  }

  .before-after__metrica-txt {
    background: @basic_grey;
  }

  .before-after__metrica-price {
    padding: 0;
    padding-top: 62px;
    width: 330px;
    height: auto;

    flex-direction: row;
    justify-content: space-between;
  }

  .before-after__slider {
    box-sizing: border-box;
    padding-bottom: 65px;
    height: 668px;

    display: flex;
    justify-content: flex-end;
    flex-direction: column;

    position: relative;
  }

  .before-after__slider-list {
    padding: 0;

    position: absolute;
    top: 17px;
    // left: -78px;
  }
}
