@media (min-width: @tablet) {
  .card {
    background: linear-gradient(180deg, transparent 80px, @special_grey 80px);
  }

  .card--more {
    background: none;
    border: 2px solid @basic_grey;
  }
}


//@media (min-width: @desktop) {
//.card{

//}

//}
