.card {
  // position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // justify-content: center;
  align-content: flex-end;
  align-items: flex-end;

  // padding-top: 25px;
  padding-bottom: 25px;
  width: 320px;
  height: 209px;
  box-sizing: border-box;
  // min-height: 210px - 30px - 25px;
  border-bottom: 1px solid @basic_grey-2;
  line-height: 0;

  // &::after {
  //   content: "";
  //   display: block;
  //   height: 1px;
  //   width: 1000%;
  //   background-color: @basic_grey-2;
  //   position: absolute;
  //   bottom: 0;
  //   left: -50%;
  //   z-index: -1;
  // }
}

.card__pic {
  margin: 0 auto;
  margin-bottom: 13px;
}

.card__name {
  display: block;
  width: 80px;
  padding-bottom: 14px;
  text-decoration: none;
  text-transform: uppercase;
  color: #222222;
  font: 16px/20px @oswald;
}

.card__description {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 12px;
  width: 140px;
}

.card__description-item {
  display: flex;
  justify-content: space-between;
  font: normal 12px/16px @arial;
}

.card__btn {
  margin-top: 8px;
  font-size: 16px;
}

.card--more {
  justify-content: center;
  // background: none;
  // border: 2px solid @basic_grey;
  // box-sizing: border-box;
  // height: 511px - 60px - 2px*2;
  // width: 324px - 40px*2 - 2px*2;

  .card__name {
    width: auto;
    padding-bottom: 7px;
    text-align: center;
    color: #111111;

    &::before {
      content: " ";
      display: block;
      width: 30px;
      height: 30px;
      margin: 0 auto;
      margin-bottom: 23px;

      background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 30 30' style='enable-background:new 0 0 30 30;' xml:space='preserve' fill='%23d3d3d3'%3E%3Cpolygon class='st0' points='30,14 16,14 16,0 14,0 14,14 0,14 0,16 14,16 14,30 16,30 16,16 30,16 '/%3E%3C/svg%3E%0A");
      background-size: cover;
      background-position: center center;
    }
  }

  .card__description {
    width: auto;
  }

  .card__description-item {
    // border: none;
    // line-height: 18p/x;
  }

  .card__btn {
    // margin-top: 85px;/
  }
}

@media (min-width: @tablet) {
  .card {
    // box-sizing: border-box;
    border: none;
    height: 511px;
    width: 324px;
    padding: 40px;
    padding-top: 0;
    margin-right: 60px;
    margin-bottom: 60px;

    // align-items: center;
    align-content: flex-end;
    justify-content: center;

    background: linear-gradient(180deg, transparent 80px, @basic_grey 80px);

    &:nth-child(2n) {
      margin-right: 0;
    }
    // &::after {
    //   display: none;
    // }
  }

  .card__pic {
    margin-bottom: -4px;
  }

  .card__name {
    font-size: 20px;
    line-height: 24px;

    text-align: center;
    justify-content: flex-end;

    width: 150px;
    padding-top: 34px;
    margin: 0 auto;
  }

  .card__description {
    width: 248px;
    padding-bottom: 0;
  }

  .card__description-item {
    border-bottom: 1px solid @special_grey;
    font: normal 16px/31px @arial;
    text-align: center;
  }

  .card__btn {
    margin-top: 32px;
    width: 248px;
  }

  .card--more {
    padding: 36px;
    margin-top: 80px;
    height: 430px;

    background: none;
    border: 2px solid @basic_grey;
    // box-sizing: border-box;
    // height: 511px - 60px - 2px*2;
    // width: 324px - 40px*2 - 2px*2;

    .card__name {
      padding-bottom: 23px;
      width: 135px;

      &::before {
        width: 60px;
        height: 60px;
        margin-bottom: 46px;
      }
    }

    .card__description {
      width: 170px;
    }

    .card__description-item {
      border: none;
      line-height: 18px;
    }

    .card__btn {
      margin-top: 85px;
    }
  }
}

@media (min-width: @desktop) {
  .card {
    width: 245px;
    margin-right: 80px;
    margin-bottom: 63px;

    &:nth-child(2n) {
      margin-right: 80px;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }
  }

  .card__pic {
    margin-bottom: 3px;
  }

  .card__name {
    font-size: 20px;
    line-height: 21px;
    padding-bottom: 18px;
  }

  .card__description {
    width: 168px;
  }

  .card--more {
    .card__name {
      padding-bottom: 26px;
    }

    .card__name::before {
      margin-bottom: 50px;
    }
  }
}
