.contacts__wrapper {
  padding-bottom: 25px;
  padding-top: 28px;
  display: flex;
  justify-content: space-between;
}

.contacts--bg {
  background: @basic_grey;
}

.contacts__header {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
}

.contacts__txt {
  margin: 0;
  color: @special_dark-grey;
  line-height: 20px;
}

.contacts__br {
  display: none;
}

// .contacts__location {
//   // position: relative;
//   // overflow: hidden;
//   // height: 362px;
//   // background: url("../img/bg-location-mobile.jpg") 50% 0% no-repeat;
//   // background-size: contain;
//   // display: flex;
//   // justify-content: center;
// }

.contacts__location-map {
  // position: absolute;
  display: block;
  // margin: 0 auto;
  width: 100%;
  height: auto;
}

@media (min-width: @tablet) {
  .contacts__wrapper {
    padding: 0 40px;
    padding-top: 66px;
    padding-bottom: 57px;
  }

  .contacts__header {
    font-size: 20px;
    line-height: 24px;
  }

  .contacts__txt {
    text-align: right;
    font-size: 16px;
    line-height: 20px;
  }

  .contacts__br {
    display: block;
  }

  .contacts__location {
    // height: 400px;
    // background: url("../img/bg-location-tablet.jpg") 50% 0% no-repeat;
    // background-size: cover;
  }
}

@media (min-width: @desktop) {
  .contacts {
    position: relative;
  }

  .contacts--bg {
    background: none;
  }

  .contacts__wrapper {
    position: absolute;
    top: 95px;
    // left: 110px;
    background: white;
    height: 200px;
    width: 570px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
  }

  .contacts__header {
    margin-left: -20px;
  }

  .contacts__txt {
    margin-left: 90px;
    text-align: left;
  }

  // .contacts__location {
  //   height: 400px;
  //   background: url("../img/bg-location-desktop.jpg") 50% 0% no-repeat;
  //   background-size: cover;
  // }
}
