.contacts__wrapper {
  padding: 20px;
  padding-top: 28px;
  display: flex;
  justify-content: space-between;
}

.contacts__wrapper--bg {
  background: @basic_grey;
}

.contacts__header {
  font-size: 16px;
  line-height: 18px;
  color: #111111;
}

.contacts__txt {
  color: @special_dark-grey;
  line-height: 20px;
}

.contacts__location {
  width: 320px;
  height: 362px;
  background: url("../img/bg-location-mobile.jpg") 50% 50% no-repeat;
  background-size: contain;
}

@media (min-width: @tablet) {
  .contacts__wrapper {
    padding: 70px;
    padding-top: 65px;
    padding-bottom: 50px;
  }

  .contacts__header {
    font-size: 20px;
    line-height: 21px;
  }

  .contacts__txt {
    text-align: right;
    font-size: 16px;
    line-height: 20px;
  }

  .contacts__location {
    width: 768px;
    height: 400px;
    background: url("../img/bg-location-tablet.jpg") 50% 50% no-repeat;
    background-size: contain;
  }
}

@media (min-width: @desktop) {
  .contacts__wrapper--bg {
    background: none;
  }

  .contacts__txt {
    text-align: left;
  }

  .contacts__location {
    width: 1440px;
    height: 400px;
    background: url("../img/bg-location-desktop.jpg") 50% 50% no-repeat;
    background-size: contain;
  }
}
