.page-header {
  overflow: hidden;
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  height: 66px;
  width: 205px;
  display: flex;
  align-items: center;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-header__logo-img {
  width: 191px;
  height: 38px;
}

@media (min-width: @tablet) {
  .page-header__wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 105px;
  }

  .page-header__logo {
    width: auto;
  }

  .page-header__logo-img {
    width: 174px;
    height: 51px;
  }

  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: @desktop) {
  .page-header {
    width: 100%;
    position: absolute;
  }

  .page-header__wrapper {
    height: 165px;
  }

  .page-header__logo-img {
    width: 202px;
    height: 59px;
  }
}
