.promo__header {
  padding: 0;
  margin: 0;

  padding-top: 28px;
  padding-bottom: 37px;
}

.promo__txt {
  margin: 0;
  padding-bottom: 38px;

  font: normal 14px/18px @oswald;
  text-transform: uppercase;
  color: black;
}

.promo--index {
  padding: 0;
  margin-bottom: 20px;

  text-align: center;

  background: url("../img/index-can-mobile@1x.png") 50% 80% no-repeat,
    url("../img/index-background-mobile@1x.jpg") 50% 0% no-repeat,
    linear-gradient(180deg, #64a83b 306px, transparent 0);
  background-size: auto, auto, auto;

  .promo__header {
    padding-top: 28px;
    padding-bottom: 25px;
    color: white;
  }

  .promo__wrapper {
    min-height: 480px;
    display: flex;
    flex-direction: column;
  }

  .promo__txt {
    padding: 0;
    margin: 0;
    flex-grow: 1;

    color: white;
  }
}


@media (min-width: @tablet) {
  .promo__wrapper {
    padding-bottom: 43px;
  }

  .promo__header {
    padding-top: 35px;
    padding-bottom: 40px;
  }

  .promo__txt {
    margin-top: 15px;
    padding-bottom: 23px;
    font: normal 20px/30px @oswald;
  }

  .promo--index {
    background: url("../img/index-can-tablet@1x.jpg") 50% 108% no-repeat;

    .promo__wrapper {
      padding-left: 82px;
      padding-bottom: 0;
      min-height: 826px;
      text-align: left;
    }

    .promo__header {
      padding-left: 5px;
      padding-bottom: 41px;
      padding-top: 34px;
      color: black;
    }

    .promo__txt {
      padding-left: 7px;
      flex-grow: 0;
      margin-bottom: 50px;
      line-height: 20px;
      color: black;
    }

    .promo__link {
      width: 244px;
      height: 54px;

      font-size: 20px;
      line-height: 0px;
    }
  }

  .promo--form {
    .promo__header {
      padding-left: 0;
      margin-left: -40px;
    }
  }
}

@media (min-width: @desktop) {
  .promo--index {
    margin-bottom: 82px;
    // min-height: 694px;
    background: url("../img/index-can-desktop@1x.png") 60.5% 72% no-repeat,
      linear-gradient(270deg, transparent 50%, white 50%),
      url("../img/index-background-desktop@1x.jpg") 100% 0% no-repeat,
      linear-gradient(270deg, #64a83b 50%, transparent 0);
    background-size: auto, auto, contain, auto;

    .promo__wrapper {
      min-height: 694px;
    }

    .promo__header {
      padding-left: 0;
      padding-top: 222px;
      padding-bottom: 42px;
    }

    .promo__txt {
      padding-left: 0;
    }
  }

  .promo--form {
    .promo__header {
      margin-left: 0;
      padding-top: 183px;
    }
  }

  .promo__header {
    padding-top: 186px;
  }
}
