.weight {
  p {
    margin: 0;
  }
}

.weight__wrapper {
  padding-left: 20px;
  padding-right: 20px;
  height: 266px;
  background-color: @basic_grey;
}

.weight__header {
  margin: 0;
  padding: 30px 0;
  padding-left: 70px;
  background-repeat: no-repeat;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 37px;
}

.weight__wrapper--minus {
  margin-bottom: 20px;

  .weight__header {
    background-image: url("../img/weight__minus-ico-mobile.png");
    background-position: 0% 50%;
  }
}

.weight__wrapper--plus {
  .weight__header {
    background-image: url("../img/weight__plus-ico-mobile.png");
    background-position: 0 50%;
    margin-left: -10px;
    padding-left: 80px;
  }
}

.weight__txt {
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 20px;
}

.weight__link {
  display: inline-block;
  color: black;
  font: 20px/30px @oswald;
  text-decoration: none;
  text-transform: uppercase;
  padding-right: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  background: url("../img/icon-right-arrow-long.svg") right center no-repeat;
  background-size: 32px 10px;

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet) {
  .weight__wrapper {
    padding-left: 50px;
    padding-right: 280px;
    height: auto;
  }

  .weight__wrapper--minus {
    background-image: url("../img/weight__minus-ico-tablet.png");
    background-position: 88% 50%;
    background-repeat: no-repeat;
    margin-bottom: 30px;

    .weight__header {
      background: none;
      padding-left: 0;
      padding-top: 75px;
      padding-bottom: 25px;
    }
  }

  .weight__wrapper--plus {
    padding-right: 314px;
    background-image: url("../img/weight__plus-ico-tablet.png");
    background-position: 94% 52%;
    background-repeat: no-repeat;


    .weight__header {
      background: none;
      margin: 0;
      padding-left: 0;
      padding-top: 75px;
      padding-bottom: 25px;
    }
  }

  .weight__txt {
    border: none;
    padding-bottom: 0;
    color: black;
  }

  .weight__link {
    margin-top: 52px;
    margin-bottom: 58px;
    padding-right: 56px;
  }
}

@media (min-width: @desktop) {
  .weight {
    display: flex;
  }

  .weight__wrapper {
    padding-right: 50px;
    box-sizing: border-box;
    width: 570px;
  }

  .weight__link {
    margin-top: 25px;
  }

  .weight__wrapper--minus {
    background-image: none;
    margin: 0;
    margin-right: 80px;

    .weight__header {
      background-image: url("../img/weight__minus-ico-desktop.png");
      background-position: 0% 50%;
      background-repeat: no-repeat;
      padding-left: 165px;
      padding-bottom: 75px;
    }
  }

  .weight__wrapper--plus {
    background-image: none;

    .weight__header {
      background-image: url("../img/weight__plus-ico-desktop.png");
      background-position: 0% 50%;
      background-repeat: no-repeat;
      padding-left: 185px;
      padding-bottom: 75px;
      margin-left: -20px;
    }
  }
}
