html {
  height: 100%;
  font: 14px/18px @arial;
  color: #444444;
}

.h1 {
  font: 36px/36px @oswald;
  color: black;
}

.h2 {
  font: 36px/40px @oswald;
  color: black;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 280px;
}

@media (min-width: @tablet) {
  html {
    font-size: 16px;
    line-height: 24px;
    color: #444444;
  }

  .h1 {
    font-size: 60px;
    line-height: 60px;
  }

  .h2 {
    font-size: 36px;
    line-height: 36px;
  }

  .container {
    padding: 0 30px;
    width: 708px;
  }

  @media (max-width: @desktop - 1px) {
    .container.container--form {
      width: 630px;
      padding: 0 69px;
    }
  }
}

@media (min-width: @desktop) {
  html {
    font-size: 16px;
    line-height: 24px;
  }

  .container {
    width: 1220px;

    &.container--form {
      width: 1220px;
    }
  }

  .container-column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .container-column__column {
    width: 570px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
