html {
  height: 100%;
  font: 14px/18px @arial;
  color: black;
}

.h1 {
  font: 36px/36px @oswald;
}

.h2 {
  font: 36px/40px @oswald;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 280px;
}

@media (min-width: @tablet) {
  html {
    font: 16px/24px @arial;
    color: black;
  }

  .h1 {
    font: 60px/60px @oswald;
  }

  .h2 {
    font: 36px/36px @oswald;
  }

  .container {
    padding: 0 30px;
    width: 708px;
  }

  @media (max-width: @desktop - 1px) {
    .container.container--form {
      width: 630px;
      padding: 0 69px;
    }
  }
}

@media (min-width: @desktop) {
  html {
    font: 16px/24px @arial;
    color: black;
  }

  .container {
    width: 1220px;

    &.container--form {
      width: 1220px;
    }
  }

  .container-column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .container-column__column {
    width: 570px;
  }

  // .column-left {
  //   width: 570px;
  //   margin-right: auto;
  // }

  // .column-right {
  //   width: 570px;
  //   margin-left: auto;
  // }
}

// body,
// ul,
// p,
// h1,
// h2,
// h3 {
//   margin: 0;
//   padding: 0;
//   list-style: none;
// }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
